    @font-face 
    {
        font-family: 'Antipasto';
        src: url('../fonts/Antipasto.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
  
    // Store the font-family in a variable
    $font-antipasto: 'Antipasto';

    @font-face 
    {
        font-family: 'Segoe UI';
        src: url('../fonts/Segoe\ UI.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
  
    // Store the font-family in a variable
    $font-segoeui: 'Segoe UI';

    $color-anthracite: #3e3e3e;
    $color-gris: #a9a9a9;
    $color-font-blanc: #918f88;
    $color-titre-1: #dd412b;
    $color-titre-2: #2f3448;

    header h1 
    {
        font-family: $font-antipasto;
        margin:10px;
    }

    header div{
        margin: auto;
    }

    .carousel-container 
    {
        position: relative;
        max-width: 100%;
    }

    .carousel-item img 
    {
        width: 100%;
        height: 500px; /* Adjust height as needed */
        object-fit: cover;
    }

    .fixed-banner 
    {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
        color: white;
        text-align: center;
        padding: 15px 0;
        z-index: 10;
    }

    .news-box 
    {
        background-color: #f8f9fa;
        border: 1px solid #ddd;
        border-radius: 8px;
        margin-bottom: 10px; /* Adds spacing between news blocks */
    }

    .news-box .btn {
        margin-top: 10px; /* Adds spacing between text and button */
    }
    
    .align-self-end {
        margin-left: auto; /* Push the button to the right */
    }

    /* Remove borders from the columns themselves */
    .col-12, .col-md-4 
    {
        border: none !important;
    }

    /* Remove any borders from the card elements */
    .card 
    {
        border: none !important;
    }

    /* If there are any borders inside the card header or body */
    .card-header, .card-body 
    {
        border: none !important;
        color: #918f88;
    }

    .btn-link {
        text-decoration: none;
        color: $color-anthracite;
    
        &:hover {
            color: black;
        }
    }

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end; /* Aligns text to the bottom */
        height: 100%; /* Make sure the container takes full height */
        padding-bottom: 10px; /* Adjust spacing from the bottom */
    }